body{
    background-color: yellowgreen;
    text-align: center;
}
h1{
    color: blueviolet;
    font-weight: bold;
    font-size: 70px;
    font-style: italic;
    text-decoration: dashed;
    text-shadow: none;
}
h2{
    color-scheme:rgb(115, 0, 255);
}
