body{
    background-color: rgb(175, 179, 60);
    text-align: center;
}
h1{
    color: rgb(255, 0, 25);
    font-weight: bold;
    font-size: 70px;
    font-style: italic;
    text-decoration: dashed;
    text-shadow: none;
    